@import "tailwindcss";

@theme {
    /* Paste typescale sistem here */
}

@layer components {
    /* 
    Use the components layer for any more complicated classes you want to add to your project that 
    you'd still like to be able to override with utility classes. 

    The components layer is also a good place to put custom styles for any third-party components you're using.
    */
}

@layer base {
    /* Add any base styles here */
    body {
        height: 100%;
        width: 100%;
    }

    h1 {
        font-size: var(--h1-size);
        font-weight: var(--h1-weight);
        line-height: var(--h1-line-height);
        letter-spacing: var(--h1-letter-spacing);
    }

    h2 {
        font-size: var(--h2-size);
        font-weight: var(--h2-weight);
        line-height: var(--h2-line-height);
        letter-spacing: var(--h2-letter-spacing);
    }

    h3 {
        font-size: var(--h3-size);
        font-weight: var(--h3-weight);
        line-height: var(--h3-line-height);
        letter-spacing: var(--h3-letter-spacing);
    }

    h4 {
        font-size: var(--h4-size);
        font-weight: var(--h4-weight);
        line-height: var(--h4-line-height);
        letter-spacing: var(--h4-letter-spacing);
    }

    h5 {
        font-size: var(--h5-size);
        font-weight: var(--h5-weight);
        line-height: var(--h5-line-height);
        letter-spacing: var(--h5-letter-spacing);
    }

    h6 {
        font-size: var(--h6-size);
        font-weight: var(--h6-weight);
        line-height: var(--h6-line-height);
        letter-spacing: var(--h6-letter-spacing);
    }

    p {
        font-size: var(--body-size);
        font-weight: var(--body-weight);
        line-height: var(--body-line-height);
        letter-spacing: var(--body-letter-spacing);
    }
}
